{% extends 'globals/base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/articles_article.css' %}">
{% endblock extra_css %}

{% block navbar %}
<div class="title-wrapper">
<a class="the-dorsal-title" href="{% url 'home' %}">the dorsal</a>
</div>
{% endblock navbar %}

{% block content %}
<div class="main-wrapper">

    {% image article.title_image original as title_image %}
    <img src="{{ title_image.url }}" class="title-image">

    <div class="left-column">

    </div>
    <div class="center-column">

        <div class="title-box">
            <span class="headline">{{ article.title }}</span>
            <div class="infobox">
                <a class="author">by <span class="colored-link">{{ article.author.user.first_name }} {{ article.author.user.last_name }}</span></a>
                <span class="datetime">{{ article.pub_date|date:"N jS, 'y, P" }}</span>
            </div>
        </div>

        <div class="content-box">
            <div class="summary-wrapper">
                <p class="summary">{{ article.prologue }}</p>
            </div>
            
            <div class="article-wrapper">
                {{ article.content|richtext }}
            </div>

            <div class="endinfo">
                <a class="about-the-author" href="">
                    <span class="name">By {{ article.author.user.first_name }} {{ article.author.user.last_name }} <span class="grade">in grade {{ article.author.grade }}</span></span>
                    <p class="bio">{{ article.author.short_bio }}</p>
                </a>

                <div class="other-articles">
                    <div class="headline-columns-wrapper">
                        <div class="empty col2"><span class="by-same-author">Other articles by {{ article.author.user.first_name }} {{ article.author.user.last_name }}</span></div>
                        {% for author_article in author_articles %}
                            {% if not forloop.counter|divisibleby:2 %}
                            <div class="article-box col1">
                            {% else %}
                            <div class="article-box col2">
                            {% endif %}
                                {% image author_article.title_image original as title_image %}
                                <a href=""><img src="{{ title_image.url }}" class="title-image"></a>
                                <div class="headline-wrapper">
                                    <a href="" class="headline">{{ author_article.title }}</a>
                                    <span class="author-datetime-box">
                                        <a href="" class="author">by <span class="colored-link">{{ author_article.author }}</span></a>
                                        <span class="datetime">{{ author_article.pub_date|date:"N jS, 'y, P" }}</span>
                                    </span>
                                </div>
                                <span class="summary">{{ author_article.get_truncated_prologue }}...</span>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-column">

    </div>
</div>
{% endblock content %}