{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        {% block extra_css %}{% endblock extra_css %}
        <title>{% block title %}the dorsal{% endblock title %}</title>
    </head>
    <body>
        <div class="page-container">
            {% block navbar %}
            <div class="nav-wrapper">
                <svg class="negative-fin" viewBox="0 0 372.8 30.5" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                    <linearGradient xlink:href="#a" id="b" x1="1710.7" y1="89.7" x2="232.9" y2="33.3" gradientUnits="userSpaceOnUse" gradientTransform="matrix(.26458 0 0 .26458 -154.6 79.3)"/>
                    <linearGradient id="a">
                        <stop class="right-stop" offset="0" stop-color="#fca"/>
                        <stop class="left-stop" offset="1" stop-color="#feb9ff"/>
                    </linearGradient>
                    </defs>
                    <path class="st0" d="M-82.2 79.9s88.6 44.4 111.9 26c3.6-3 8.8-5.2 14.8-6.8 17-4.3 40.7-3.1 57.3 2.9 9.4 3.3 17.6 5.4 24.8 6.4.8-4.8 1-11.7-2-18.5-1.6-4 10.2-.7 17.1 19.3a41.5 41.5 0 0 0 24.5-8.7c20.4-16.4 58.9 2.5 77.5.7 21.2-2.1 47-21.3 47-21.3z" fill="url(#b)" transform="translate(82.2 -79.9)"/>
                </svg>
                <div class="left-nav">
                    <div class="menu-wrapper">
                        {% comment %}<svg class="hamburger-icon" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19"><path class="st5" d="M0 1.5h25zm0 8h25zm0 8h25z" fill="none" stroke-linecap="round" stroke-miterlimit="10"/></svg>                    
                        <svg class="search-icon" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.32 23.07"><path class="st5" d="M11.12 1.5a6.7 6.7 0 0 0-6.7 6.7 6.7 6.7 0 0 0 6.7 6.7 6.7 6.7 0 0 0 6.7-6.7 6.7 6.7 0 0 0-6.7-6.7zM7.02 14l-5.8 8.2Z" fill="none" stroke-linecap="round" stroke-miterlimit="10"/></svg>{% endcomment %}                    
                    </div>
                    <div class="datetime-info">
                        <span class="date-info">{{ datetime|date:"l, F jS, Y" }}</span>
                        <span class="time-info">{{ datetime|date:"g:i" }}<span class="period"> - {{ period }}</span></span>
                    </div>
                </div>
                <div class="center-nav">
                    <div class="navlink-wrapper">
                        {% for link in navlinks %}
                        <a class="navlink" href="{{ link.path }}">{{ link.str }}</a>
                        {% endfor %}
                    </div>
                    <div class="title-wrapper">
                        <a class="title" href="{% url 'home' %}">the dorsal</a>
                        <a class="subtitle" href="{% url 'about' %}">a newspaper run by students at pittsburgh scitech</a>
                    </div>
                </div>
            </div>
            {% endblock navbar %}
        
            {% block content %}
            {% endblock content %}

            {% block footer %}
            <div class="footer-wrapper">
                <div class="footer-top">
                    <div class="title-box">
                        <a href="/home/" class="footer-title">the dorsal</a>
                    </div>
                    <div class="infos">
                        <ul class="about">
                            <li class="title">information</li>
                            <li><a href="/home/about">about</a></li>
                            {% comment %}<li><a href="/staff/">staff</a></li>{% endcomment %}
                            <li><a href="/home/contact">contact</a></li>
                            <li><a href="/home/open-source">open source</a></li>
                        </ul>
                        <ul class="support">
                            <li class="title">support</li>
                            <li><a href="/home/advertise">advertise</a></li>
                            <li><a href="/home/apply">apply</a></li>
                            <!--<li><a href="/home/write">write</a></li>-->
                        </ul>
                        <ul class="get">
                            <li class="title">get the dorsal</li>
                            <li><a href="/home/physical-newspaper">physical newspaper</a></li>
                            <!--<li><a href="/home/subscribe">subscribe</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    <span class="ownership-info">All website code is licensed under the <a href="https://choosealicense.com/licenses/mit/">MIT License</a> and open sourced <a href="https://github.com/ilisien/the-dorsal">here</a>.</span>
                    <span class="credit">Images are licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</span>
                    <span class="credit">Articles are copyrighted 2022-2025 by their respective authors.</span>
                    <span class="credit">Font licenses can be found <a href="/home/fonts">here</a>.</span>
                </div>

            </div>
            {% endblock footer %}
        </div>
    </body>
</html>
