{% extends 'globals/base.html' %}
{% load static %}
{% load wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_index.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="main-wrapper">
    <div class="by-section-wrapper">
        <span class="by-section-title">Articles by section:</span>
        <span class="section-title">at scitech</span>
        <ul class="scitech">
            {% if scitech_articles %}
            {% for article in scitech_articles %}
            <li><div class="by-section-article">
                <a href="{% url 'article'  year=article.pub_date.year month=article.pub_date.month day=article.pub_date.day article_title=article.url_encoded_title %}" class="headline">{{ article.title }}</a>
                <span class="author-datetime-box">
                    <a href="" class="author">by <span class="colored-link">{{ article.author }}</span></a>
                    <span class="datetime">{{ article.pub_date|date:"N jS, 'y" }}</span>
                </span>
                <span class="summary">{{ article.prologue|slice:75 }}...</span>
            </div></li>
            {% endfor %}
            {% else %}
            <span class="oops">No recent articles in this section.</span>
            {% endif %}
        </ul>
        <span class="section-title">in pittsburgh</span>
        <ul class="pittsburgh">
            {% if pittsburgh_articles %}
            {% for article in pittsburgh_articles %}
            <li><div class="by-section-article">
                <a href="{% url 'article'  year=article.pub_date.year month=article.pub_date.month day=article.pub_date.day article_title=article.url_encoded_title %}" class="headline">{{ article.title }}</a>
                <span class="author-datetime-box">
                    <a href="" class="author">by <span class="colored-link">{{ article.author }}</span></a>
                    <span class="datetime">{{ article.pub_date|date:"N jS, 'y" }}</span>
                </span>
                <span class="summary">{{ article.prologue|slice:75 }}...</span>
            </div></li>
            {% endfor %}
            {% else %}
            <span class="oops">No recent articles in this section.</span>
            {% endif %}
        </ul>
        <span class="section-title">politics</span>
        <ul class="politics">
            {% if politics_articles %}
            {% for article in politics_articles %}
            <li><div class="by-section-article">
                <a href="{% url 'article'  year=article.pub_date.year month=article.pub_date.month day=article.pub_date.day article_title=article.url_encoded_title %}" class="headline">{{ article.title }}</a>
                <span class="author-datetime-box">
                    <a href="" class="author">by <span class="colored-link">{{ article.author }}</span></a>
                    <span class="datetime">{{ article.pub_date|date:"N jS, 'y" }}</span>
                </span>
                <span class="summary">{{ article.prologue|slice:75 }}...</span>
            </div></li>
            {% endfor %}
            {% else %}
            <span class="oops">No recent articles in this section.</span>
            {% endif %}
        </ul>
        <span class="section-title">technology</span>
        <ul class="technology">
            {% if technology_articles %}
            {% for article in technology_articles %}
            <li><div class="by-section-article">
                <a href="{% url 'article'  year=article.pub_date.year month=article.pub_date.month day=article.pub_date.day article_title=article.url_encoded_title %}" class="headline">{{ article.title }}</a>
                <span class="author-datetime-box">
                    <a href="" class="author">by <span class="colored-link">{{ article.author }}</span></a>
                    <span class="datetime">{{ article.pub_date|date:"N jS, 'y" }}</span>
                </span>
                <span class="summary">{{ article.prologue|slice:75 }}...</span>
            </div></li>
            {% endfor %}
            {% else %}
            <span class="oops">No recent articles in this section.</span>
            {% endif %}
        </ul>
        <span class="section-title">sports</span>
        <ul class="sports">
            {% if sports_articles %}
            {% for article in sports_articles %}
            <li><div class="by-section-article">
                <a href="{% url 'article'  year=article.pub_date.year month=article.pub_date.month day=article.pub_date.day article_title=article.url_encoded_title %}" class="headline">{{ article.title }}</a>
                <span class="author-datetime-box">
                    <a href="" class="author">by <span class="colored-link">{{ article.author }}</span></a>
                    <span class="datetime">{{ article.pub_date|date:"N jS, 'y" }}</span>
                </span>
                <span class="summary">{{ article.prologue|slice:75 }}...</span>
            </div></li>
            {% endfor %}
            {% else %}
            <span class="oops">No recent articles in this section.</span>
            {% endif %}
        </ul>
    </div>
    <div class="column-bar">
        <div class="column-header">
        </div>
        <div class="headline-columns-wrapper">
            <div class="empty col2"></div>
            {% for article in recent_articles %}
                {% if not forloop.counter|divisibleby:2 %}
                <div class="article-box col1">
                {% else %}
                <div class="article-box col2">
                {% endif %}
                    {% image article.title_image original as title_image %}
                    <a href="{% url 'article'  year=article.pub_date.year month=article.pub_date.month day=article.pub_date.day article_title=article.url_encoded_title %}"><img src="{{ title_image.url }}" class="title-image"></a>
                    <div class="headline-wrapper">
                        <a href="{% url 'article'  year=article.pub_date.year month=article.pub_date.month day=article.pub_date.day article_title=article.url_encoded_title %}" class="headline">{{ article.title }}</a>
                        <span class="author-datetime-box">
                            <a href="" class="author">by <span class="colored-link">{{ article.author }}</span></a>
                            <span class="datetime">{{ article.pub_date|date:"N jS, 'y, P" }}</span>
                        </span>
                    </div>
                    <span class="summary">{{ article.get_truncated_prologue }}...</span>
                </div>
            {% endfor %}
        </div>
        <div class="column-footer">
            
        </div>
    </div>
</div>
{% endblock content %}