$black: #333333;
$almost-white: rgb(235, 235, 235);

$light-purple: #feb9ff;
$peach: #fca;
$purple: #8c69a7;
$blue: #8998cb;

$limish: #77ff51;
$spiral: rgb(132, 232, 255);

$primary: $light-purple;
$secondary:  $peach;

$link-grad-1: $purple;
$link-grad-2: $light-purple;