@import 'initial';
@import 'colored_links';

.title-wrapper {
    display: flex;
    justify-content: center;

    a.the-dorsal-title {
        position:absolute;
        font-family: 'Lment';
        font-size: 3.5em;
        top:35px;
        background: -webkit-linear-gradient(0deg,$primary,$secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width:100%;

    img.title-image {
        max-width: 100%;
        grid-column: 1 / 4;
    }

    .left_column {

    }
    
    .center-column {
        width:100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 4em;

        .title-box {
            margin: 20px 0;
        }

        span.headline {
            font-family: "Roboto Serif";
            font-style: italic;
            font-size: 2.75em;
        }

        .infobox {
            display: flex;
            gap:5ch;

            a.author {
                font-family: "Piazzolla";
                font-style:italic;
                font-size:1.25em;
            }

            span.datetime {
                font-family: "Piazzolla";
                font-size:1.25em;
            }
        }

        .content-box {
            display: flex;
            flex-direction: column;
            gap:2em;
            align-items: center;

            .summary-wrapper {
                p.summary {
                    font-family: "Roboto Serif";
                    font-style: italic;
                    font-size: 1em;
                    line-height: 1.75em;
                    text-indent: 5ch;
                    text-align-last: left;
                    text-align: justify;
                }
            }

            .article-wrapper {
                display: flex;
                flex-direction: column;
                gap:2em;
                align-items: center;

                p {
                    font-family: "Roboto Serif";
                    font-size: 1em;
                    line-height: 1.75em;
                    text-align-last: left;
                    text-align: justify;
                }

                img {
                    width:125%;
                    height:auto;
                }
            }
            .endinfo {
                display:flex;
                gap:8em;
                margin: 4em 0;
                align-items: center;
                flex-direction: column;

                .about-the-author {
                    background: linear-gradient(90deg,$primary,$secondary);
                    padding:2em;
                    border-radius: 1em;
                    display: flex;
                    gap:1em;
                    flex-direction: column;
                    width:75%;
                    
                    span.name {
                        font-family: "VG5000";
                        color: white;
                        font-size: 2em;
    
                    }
    
                    span.grade {
                        font-family: "Piazzolla";
                        color: white;
                    }
    
                    p.bio {
                        color: white;
                        font-family: "Roboto Serif";
                        font-size:1.3em;
                    }
                }
            }

            .other-articles {

            }
        }

    }

    .right-column {

    }
}