@import 'initial';
@import 'colored_links';

.wrapper {
    margin: 10em 5em 5em 5em;
    display: flex;
    flex-direction: column;
    gap:2em;
    align-items: center;

    span.uhoh {
        font-family:"VG5000";
        font-size:15em;
        background: -webkit-linear-gradient(0deg,$primary,$secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    span.error {
        font-family: "VG5000";
        font-size: 6em;
    }

    p.what-happened {
        font-family: "Piazzolla";
        font-size: 3em;
        text-align: center;
    }

    span.do-you-know {
        font-family: "Piazzolla";
        font-size: 2.5em;
        text-align: center;
    }

    a.back {
        font-family: "Roboto Serif";
        font-style: italic;
        font-size: 2.25em;
    }
}