* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr auto 1fr;
  border-bottom: 1px;
  border-color: black;
  border-bottom-style: solid;
}

.nav-wrapper svg.negative-fin {
  position: absolute;
  z-index: -1000;
}

.nav-wrapper svg.negative-fin .right-stop {
  stop-color: #fca;
}

.nav-wrapper svg.negative-fin .left-stop {
  stop-color: #feb9ff;
}

.left-nav {
  /*position: absolute;
    left:13px;
    bottom:13px;*/
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding: 20px 13px 13px 13px;
  justify-content: space-between;
}

.left-nav .menu-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.left-nav .menu-wrapper svg path {
  stroke: black;
  stroke-width: 2;
}

.left-nav .datetime-info {
  display: flex;
  flex-direction: column;
  font-family: 'Piazzolla';
}

.left-nav .datetime-info span.date-info {
  font-weight: 100;
  margin-bottom: -5px;
}

.left-nav .datetime-info span.time-info {
  font-weight: 300;
}

.left-nav .datetime-info span.time-info .period {
  font-style: italic;
}

.center-nav {
  display: flex;
  flex-direction: column;
  padding: 13px;
}

.center-nav .navlink-wrapper {
  display: flex;
  justify-content: center;
  gap: 3.5ch;
  padding: 5px;
}

.center-nav .navlink-wrapper a.navlink {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1em;
}

.center-nav .title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center-nav a.title {
  font-family: 'Lment';
  font-size: 3.5em;
  margin-bottom: -0.6em;
}

.center-nav a.subtitle {
  font-family: 'vg5000';
  font-size: 1.3em;
}
